#chatroom {
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #c4c4c4;
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #04443c;
}

#logo {
    color: white;
}

#room {
    display: block;
    border: 1px solid #c4c4c4;
}


#chatWindow {
    display: grid;
    grid-template-rows: 80% 20%;
}

#chatContent {
    height: 100%;
    overflow-y: scroll;
}

#chatForm {
    border: 1px solid #c4c4c4;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#tips {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}

#msg {
    width: 80%;
    height: 80%;
    outline: none;
}