@import url("https://fonts.googleapis.com/css?family=Hind");
body {
    font-family: 'Hind';
    background-image: url('/img/chatBg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#chatroom {
    filter:drop-shadow(8px 8px 10px gray);
    background-color: #76c893;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #c4c4c4;
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
}

button:disabled {
    background: #dddddd;
    color: lightgrey;
}
#name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.navbar {
    background-color: #04443c;
}

#logo {
    color: white;
}

#room {
    display: block;
    border: 1px solid #c4c4c4;
}


#chatWindow {
    display: grid;
    grid-template-rows: 80% 20%;
}

#chatContent {
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

#chatForm {
    border: 1px solid #c4c4c4;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#msg {
    width: 80%;
    height: 100%;
    outline: none;
}

#send {
    background-color: rgb(89, 126, 238);
    position: relative;
    top: -42px;
    width: 20%;
    height: 100%;
}

textarea {
    resize: none;
}


#footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}